# basic libraries for ros2
numpy<2.0 # downgrade for rqt plugin
scipy
opencv-python
rosbags

# for rqt plot
pyqtgraph
pyQt5

# for machine learning
# 2022/12/11 version torch for torch 1.13.0 and cuda 11.7
#torch
#torchvision
#torchaudio
#tqdm

# sklearn
#scikit-learn

# optuna
#optuna
#cmaes
cython

# requirements.txt

# Jupyter
jupyterlab
ipykernel

# 科学計算
pandas
matplotlib

# フォーマッタ
black

# Jupyter Lab 拡張
jupyterlab-lsp
python-lsp-server[all]
lckr-jupyterlab-variableinspector
jupyterlab_code_formatter
jupyterlab-git
jupyterlab_widgets
ipywidgets
jupyterlab-language-pack-ja-JP

# import-ipynb support
import-ipynb
